[submodule "AutomaticPackageReloader"]
	path = AutomaticPackageReloader
	url = https://github.com/gerardroche/AutomaticPackageReloader.git
[submodule "ColorSchemeUnit"]
	path = ColorSchemeUnit
	url = https://github.com/gerardroche/sublime-color-scheme-unit.git
[submodule "DocBlockr"]
	path = DocBlockr
	url = https://github.com/gerardroche/sublime-jsdocs.git
[submodule "LaravelTestingCompletions"]
	path = LaravelTestingCompletions
	url = https://github.com/gerardroche/sublime-laravel-testing-completions.git
[submodule "Monokai Free"]
	path = MonokaiFree
	url = https://github.com/gerardroche/sublime-monokai-free.git
[submodule "NeoVintageous"]
	path = NeoVintageous
	url = https://github.com/NeoVintageous/NeoVintageous.git
[submodule "PHPGrammar"]
	path = PHPGrammar
	url = https://github.com/gerardroche/sublime-php-grammar.git
[submodule "PHPSnippets"]
	path = PHPSnippets
	url = https://github.com/gerardroche/sublime-php-snippets.git
[submodule "PHPUnitKit"]
	path = PHPUnitKit
	url = https://github.com/gerardroche/sublime-phpunit.git
[submodule "PHP Completions Kit"]
	path = PHP Completions Kit
	url = https://github.com/gerardroche/sublime-phpck.git
[submodule "Pine"]
	path = Pine
	url = https://github.com/gerardroche/sublime-pine.git
[submodule "Python Completions"]
	path = Python Completions
	url = https://github.com/gerardroche/Python-Auto-Complete.git
[submodule "phpunit-completions"]
	path = PHPUnitCompletions
	url = https://github.com/gerardroche/sublime-phpunit-completions.git
[submodule "Sensible"]
	path = Sensible
	url = https://github.com/gerardroche/sublime-sensible.git
[submodule "Sesame"]
	path = Sesame
	url = https://github.com/gerardroche/sublime-open-sesame.git
[submodule "SublimeLinter-php-cs-fixer"]
	path = SublimeLinter-php-cs-fixer
	url = https://github.com/gerardroche/SublimeLinter-contrib-php-cs-fixer.git
[submodule "SublimeTextAPICompletions"]
	path = SublimeTextAPICompletions
	url = https://github.com/gerardroche/sublime-api-completions.git
[submodule "Test"]
	path = Test
	url = https://github.com/gerardroche/sublime-test.git
[submodule "Tmux"]
	path = Tmux
	url = https://github.com/gerardroche/sublime-tmux.git
[submodule "ToggleNeoVintageous"]
	path = NeoVintageousToggle
	url = https://github.com/NeoVintageous/NeoVintageousToggle.git
[submodule "UnitTesting"]
	path = UnitTesting
	url = https://github.com/gerardroche/UnitTesting.git
[submodule "Vue Syntax Highlight"]
	path = Vue Syntax Highlight
	url = https://github.com/deathaxe/vue-syntax-highlight.git
[submodule "Tailwind CSS Completions"]
	path = TailwindCSSCompletions
	url = https://github.com/gerardroche/sublime-tailwind-css-completions.git
[submodule "NeoVintageousLineNumbers"]
	path = NeoVintageousLineNumbers
	url = https://github.com/gerardroche/NeoVintageousLineNumbers.git
[submodule "NeoVintageousHighlightLine"]
	path = NeoVintageousHighlightLine
	url = https://github.com/gerardroche/NeoVintageousHighlightLine.git
[submodule "GitOpen"]
	path = GitOpen
	url = https://github.com/gerardroche/sublime-git-open.git
[submodule "ToggleDebugMode"]
	path = ToggleDebugMode
	url = https://github.com/gerardroche/sublime-toggle-debug-mode.git
[submodule "NeoVintageousColemak"]
	path = NeoVintageousColemak
	url = https://github.com/gerardroche/NeoVintageousColemak.git
[submodule "GotoPhpManual"]
	path = GotoPhpManual
	url = https://github.com/gerardroche/sublime-goto-php-manual.git
[submodule "NeoVintageousDvorak"]
	path = NeoVintageousDvorak
	url = https://github.com/gerardroche/NeoVintageousDvorak.git
[submodule "NeoVintageousTree"]
	path = NeoVintageousFiles
	url = https://github.com/gerardroche/NeoVintageousFiles.git
[submodule "GitOpenModified"]
	path = GitOpenModified
	url = https://github.com/gerardroche/sublime-git-open-modified.git
[submodule "ShowAsciiValue"]
	path = ShowAsciiValue
	url = https://github.com/gerardroche/sublime-show-ascii-value.git
[submodule "GotoDefinitionSplit"]
	path = GotoDefinitionSplit
	url = https://github.com/gerardroche/sublime-goto-definition-split.git
[submodule "GenerateSyntaxTestAssertions"]
	path = GenerateSyntaxTestAssertions
	url = https://github.com/gerardroche/sublime-generate-syntax-test-assertions.git
[submodule "NeoVintageousInsertModeKeymaps"]
	path = NeoVintageousInsertModeKeymaps
	url = https://github.com/gerardroche/NeoVintageousInsertModeKeymaps
[submodule "Khan"]
	path = Khan
	url = https://github.com/gerardroche/sublime-khan.git
[submodule "Toggler"]
	path = Toggler
	url = https://github.com/gerardroche/sublime-toggler.git
[submodule "MarkdownPreview"]
	path = MarkdownPreview
	url = https://github.com/gerardroche/MarkdownPreview.git
[submodule "Color Scheme - Dracula"]
	path = Color Scheme - Dracula
	url = https://github.com/facelessuser/sublime-dracula-scheme.git
[submodule "Gitk"]
	path = Gitk
	url = https://github.com/gerardroche/sublime-gitk.git
[submodule "NeoVintageousHardMode"]
	path = NeoVintageousHardMode
	url = git@github.com:gerardroche/NeoVintageousHardMode.git
