[submodule "phpunitkit"]
	path = phpunitkit
	url = https://github.com/gerardroche/sublime-phpunit.git
[submodule "polyfill"]
	path = polyfill
	url = https://github.com/gerardroche/sublime-polyfill.git
[submodule "sensible"]
	path = sensible
	url = https://github.com/gerardroche/sublime-sensible.git
[submodule "php-grammar"]
	path = php-grammar
	url = https://github.com/gerardroche/sublime-php-grammar.git
[submodule "php-snippets"]
	path = php-snippets
	url = https://github.com/gerardroche/sublime-php-snippets.git
[submodule "phpunit-completions"]
	path = phpunit-completions
	url = https://github.com/gerardroche/sublime-phpunit-completions.git
[submodule "PHP Completions Kit"]
	path = PHP Completions Kit
	url = https://github.com/gerardroche/sublime-phpck.git
[submodule "open-sesame"]
	path = Sesame
	url = https://github.com/gerardroche/sublime-open-sesame.git
[submodule "ColorSchemeUnit"]
	path = ColorSchemeUnit
	url = https://github.com/gerardroche/sublime-color-scheme-unit.git
[submodule "DocBlockr"]
	path = DocBlockr
	url = https://github.com/gerardroche/sublime-jsdocs.git
[submodule "UnitTesting"]
	path = UnitTesting
	url = https://github.com/randy3k/UnitTesting.git
[submodule "NeoVintageous"]
	path = NeoVintageous
	url = https://github.com/NeoVintageous/NeoVintageous.git
[submodule "ToggleNeoVintageous"]
	path = ToggleNeoVintageous
	url = https://github.com/NeoVintageous/ToggleNeoVintageous
[submodule "molokai"]
	path = molokai
	url = https://github.com/gerardroche/sublime-molokai
[submodule "SublimeLinter-php"]
	path = SublimeLinter-php
	url = https://github.com/gerardroche/SublimeLinter-php.git
[submodule "SublimeLinter"]
	path = SublimeLinter
	url = https://github.com/gerardroche/SublimeLinter3.git
[submodule "Markdown Preview"]
	path = Markdown Preview
	url = https://github.com/revolunet/sublimetext-markdown-preview.git
[submodule "Package Control"]
	path = Package Control
	url = https://github.com/gerardroche/sublime_package_control.git
[submodule "GitGutter"]
	path = GitGutter
	url = https://github.com/jisaacks/GitGutter.git
[submodule "SublimeLinter-flake8"]
	path = SublimeLinter-flake8
	url = https://github.com/SublimeLinter/SublimeLinter-flake8.git
[submodule "Origami"]
	path = Origami
	url = https://github.com/SublimeText/Origami
[submodule "AutomaticPackageReloader"]
	path = AutomaticPackageReloader
	url = https://github.com/randy3k/AutomaticPackageReloader
[submodule "Monokai Free"]
	path = MonokaiFree
	url = https://github.com/gerardroche/sublime-monokai-free.git
[submodule "Pine"]
	path = Pine
	url = https://github.com/gerardroche/sublime-pine.git
[submodule "Test"]
	path = Test
	url = https://github.com/gerardroche/sublime-test
[submodule "Tmux"]
	path = Tmux
	url = https://github.com/gerardroche/sublime-tmux.git
[submodule "GotoDocumentation"]
	path = GotoDocumentation
	url = https://github.com/kemayo/sublime-text-2-goto-documentation.git
[submodule "SublimeTextAPICompletions"]
	path = SublimeTextAPICompletions
	url = https://github.com/gerardroche/sublime-api-completions.git
[submodule "Python Completions"]
	path = Python Completions
	url = https://github.com/gerardroche/Python-Auto-Complete.git
