[submodule "phpunitkit"]
	path = phpunitkit
	url = https://github.com/gerardroche/sublime-phpunit.git
[submodule "polyfill"]
	path = polyfill
	url = https://github.com/gerardroche/sublime-polyfill.git
[submodule "sensible"]
	path = sensible
	url = https://github.com/gerardroche/sublime-sensible.git
[submodule "php-grammar"]
	path = php-grammar
	url = https://github.com/gerardroche/sublime-php-grammar.git
[submodule "php-snippets"]
	path = php-snippets
	url = https://github.com/gerardroche/sublime-php-snippets.git
[submodule "phpunit-snippets"]
	path = phpunit-snippets
	url = https://github.com/gerardroche/sublime-phpunit-snippets.git
[submodule "phpunit-completions"]
	path = phpunit-completions
	url = https://github.com/gerardroche/sublime-phpunit-completions.git
[submodule "five_easy_color_schemes"]
	path = five_easy_color_schemes
	url = https://github.com/gerardroche/sublime_five_easy_color_schemes.git
[submodule "PHP Completions Kit"]
	path = PHP Completions Kit
	url = https://github.com/gerardroche/sublime-phpck.git
[submodule "open-sesame"]
	path = open-sesame
	url = https://github.com/gerardroche/sublime-open-sesame.git
[submodule "molokai"]
	path = molokai
	url = https://github.com/gerardroche/sublime-molokai.git
[submodule "color_scheme_unit"]
	path = color_scheme_unit
	url = https://github.com/gerardroche/sublime_color_scheme_unit.git
[submodule "SideBarEnhancements"]
	path = SideBarEnhancements
	url = https://github.com/gerardroche/SideBarEnhancements.git
[submodule "Vintageous"]
	path = Vintageous
	url = https://github.com/gerardroche/Vintageous.git
[submodule "DocBlockr"]
	path = DocBlockr
	url = https://github.com/gerardroche/sublime-jsdocs.git
